{% extends 'base.html' %}


{% block content %}


<header class="masthead" style="background-image: url({{url_for("static",filename='assets/img/home-bg.jpg')}})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Add Posts</h1>
                    <span class="subheading">You can add posts from here</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <div class="my-5">
                    <form method="POST">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Title" />
                            <label for="title">Title</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="tag_line" name="tagline" type="text" placeholder="Tag Line" />
                            <label for="tag_line">Tag Line</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="author" name="author" type="text" placeholder="Author" />
                            <label for="author">Author</label>
                        </div>
                        <div class="form-floating">
                            <textarea id="summernote" name="content"></textarea>
                        </div>
                        <br />
                        <button class="btn btn-primary text-uppercase" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}





